@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital@1&display=swap");


@font-face {
  font-family: Grandista;
  src: url(../font/Grandista.woff2)
}


@font-face {
  font-family: Patrick Hand;
  src: url(../font/PatrickHand-Regular.ttf);
}

@keyframes clickOn {
  from {
    background-color: white;
  }
  to {
    border: 1px solid black;
    background-color: lightgrey;
  }
}
/* Barra de navegación*/
.logo {
  height: 50px;
  width: 50px;
  border-radius: 20%;
  margin: 0%;
}

#titulo {
  font-family: "Grandista";
}

#barraNav {
  background-color: turquoise;
  padding: 10px;
  margin: 0;
  padding-left: 0;
  margin-left: 0;
  border: turquoise;
}

.align-middle-modify{
  padding-top: 15px;
}

/*Cuerpo*/

main {
  margin-top: 2%;
}

input::placeholder {
  font-family: "Patrick Hand", cursive;
}

#inputSearch{
  width: 40%;
}
/*Pie de pagina*/
.pie_de_pagina {
  color: black;
}

/*busqueda*/

#caja {
  position: fixed;
  top: 10%;
  left: 70%;
  margin: 0%;
  width: 22%;
  background-color: white;
  z-index: 8;
}
#caja ul li:hover {
  background-color: lightgray;
}

.icon-nav {
  margin-top: 4%;
}
.icon-nav:hover {
  cursor: pointer;
  color: white;
}

/*nuevos stilos*/


.perfilUser {
  margin: auto;
  margin-top: 5%;
  margin-bottom: 2%;
  width: 50px;
  height: 50px;
  border: solid 5px turquoise;
  border-radius: 50%;
  object-fit: cover;
}

.active{
  font-weight: bold;
}


.cambio:hover{
  color: white;
  font-weight: bold;
}

@media screen and (max-width: 992px) {
  .perfilUser {
    width: 40px;
    height: 40px;
  }

  .logo {
    height: 40px;
    width: 40px;
  }

  .nav-center{
    display: flex;
    justify-content: center;
    position: absolute;
    right: 30%;
  }

  i{
    font-size: 30px;
  }
}
@media screen and (max-width: 800px) {

  .nav-center{
    display: flex;
    justify-content: center;
    position: absolute;
    right: 25%;
  }

}

@media screen and (max-width: 570px) {

  .nav-center{
    display: flex;
    justify-content: center;
    position: absolute;
    right: 10%;
  }

}

@media screen and (max-width: 360px) {

  .cell{
    padding-left: 5px;
  }

  i{
    font-size: 5px;
    
  }

  .logo {
    height: 20px;
    width: 20px;
    margin-bottom: 5px;
  }

}

@media screen and (max-width: 280px) {

  .cell{
    padding-right: 5px;
    padding-left: 13px;
  }

}

@media screen and (max-width: 408px) {

  .nav-center{
    display: flex;
    justify-content: center;
    position: absolute;
    right: 5%;
  }

}

@media screen and (max-width: 460px) {
  i{
    font-size: 20px;
  }
}

@media screen and (max-width: 766px) {
  nav {
    height: 80px;
  }

  button {
    width: 100%;
  }

  .perfil {
    width: 50px;
    height: 50px;
  }
}