.perfil {
    margin: auto;
    margin-top: 5%;
    margin-bottom: 2%;
    width: 80px;
    height: 80px;
    border: solid 5px turquoise;
    border-radius: 50%;
    object-fit: cover;
  }

  #container-friends{
     margin-top: 3%;
  }

  .perfil_container {
    text-align: center;
    margin-left: 1%;
    margin-bottom: 1%;
    width:241px;
  }
  
  @media screen and (max-width: 515px) {
  
    .perfil_container{
      width: 400px;
    }
  
  }