.nave{
    width: 100%;
}
#publication{
    width: 80%;
}
.perfiles{
    margin-right: 10px;
    margin: auto;
    object-fit: cover;
}
.icons-container{
    margin-bottom: 20px;
}
.agregarCurso{
    background-color:turquoise;
    border-radius: 50%;

}

.enlaces_nuevos{
  padding: 5px;
  color: black;
}
.contenedor-iconos{
  width: 55px;
  height: 55px;
  border-radius: 50%;
  color: black;
  padding: 9px;
  margin-right: 10px;
  margin: auto;
  background: white;
  background: linear-gradient(72deg, white 0%, white 0%, #40e0ff 45%);
}


